
	/* ==========================================================================
	Base styles:
	========================================================================== */
	/* Fix to include padding and border in the total width for each element */

	/* header */

	header {
		background-attachment: fixed;
/*		background-image: url(../images/miami-palm-trees.jpg);*/
		background:linear-gradient(to bottom, #6de1ff, rgba(255,255,255,0) rgba(255,202,210,0.4));
		background-size: cover;
	/*height: 300px;
*/
	min-height: 200px;
	padding:100px 1%;

	/*	text-align: center;*/
	/*	background-color: #f44336;*/	

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}



h1 {
	display: block;
	color: white;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 55px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

h2 {
	display: block;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;


/
}

h3 { 
	display: inline-block;
	font-family: 'Satisfy', cursive;
	font-size: 35px;
	text-transform: none;
	color: #fff;

}

h4 	{
	display: inline-block;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0,0,0.5,0.5) 0px 1px 1px;
}
 

/*
.placescore {
	position:relative;
	background:linear-gradient(to bottom, #FF5E3A, #FF2B67);


	margin:2em auto;

	width:10em;
	height:10em;

	color:white;

	border:.1em solid;

	border-radius:100%;

}

.placescore:after{
	position:absolute;
	content:'';

	width:1.75em;
	height:1.75em;

	top:.4em;
	left:3.1em;

	box-shadow: 0 1.75em white,
	0 3.75em white,
	0 5.75em white,

	2em 1.75em white,
	2em 3.75em white;


	border-radius:inherit;

	animation:move-dots 1.5s ease-out  infinite;

}*/
/*
@keyframes move-dots{
	18.28%{
		box-shadow: 0 1.75em white,

		0 3.75em white,
		0 5.75em white,

		2em 1.75em white,
		2em 3.75em white;
	}
	28.57%{
		box-shadow: 0 1.75em white,
		0 3.75em white,
		2.2em 5.75em white,

		2em 1.75em white,
		2em 3.75em white;
	}
	42.85%{
		box-shadow: 0 1.75em white,
		0 5.95em white,
		2em 5.75em white,

		2em 1.75em white,
		2em 3.75em white;
	}

	57.14%{
		box-shadow: 0 3.95em white,
		0 5.75em white,
		2em 5.75em white,

		2em 1.75em white,
		2em 3.75em white;
	}
	71.42%{
		box-shadow: 0 3.75em white,
		0 5.75em white,
		2em 5.75em white,

		-.2em 1.75em white,
		2em 3.75em white;
	}
	85.71%{
		box-shadow: 0 3.75em white,
		0 5.75em white,
		2em 5.75em white,

		0 1.75em white,
		2em 1.55em white;
	} 
	100%{
		box-shadow: 0 3.75em white,
		0 5.75em white,
		2em 3.75em white,

		0  1.75em white,
		2em 1.75em white;
	}
}
*/
/* purple bg */

html,
body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	background-size: cover;
}

	/*.center-content {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		}*/

		display: inline-block;
		background: #fff;
		padding: 50px;
		margin: 50px;
		font-family: 'Montserrat', sans-serif;
		box-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24);
		overflow: hidden;
	}


	/* nav main styles */

	.sticky-nav-wrapper {
		height: 60px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	nav {
		width: 100%;
		text-align: center;
		background-color: white;
		box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
		transition: all 300ms ease-out;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		display: inline-block;
		margin: 1rem;
		padding: .25rem 0;
		text-decoration: none;
		color: #888;
		transition: all .3s ease-in-out;
	}


	nav .active {
		border-bottom: 2px solid #F95758;
	}

	body {
		text-align: center;
	}


	/* sticky nav */

	.scrolled {
		position: fixed;
		top: 0;
		z-index: 1;
	}

	.sticky-nav-wrapper {
		top: 0;
		z-index: 40;
		height: 600px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	nav {
		width: 100%;
		text-align: center;
		background-color: white;
		box-shadow: 0 3px 11px rgba(0, 0, 0, .1);
		transition: all 300ms ease-out;
		position: fixed;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		display: inline-block;
		margin: 1rem;
		padding: .25rem 0;
		text-decoration: none;
		color: #888;
		transition: all .3s ease-in-out;
	}


	nav .active {
		border-bottom: 2px solid #F95758;
	}

	.scrolled {
		position: fixed;
		top: 0;
		z-index: 1;
	}


	/* body */

	body{
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		font-size: 15px;
		line-height: 1.5;
		text-align: center;
	}

	section {
		display: flex;
		padding: 0px;
	}


	.div {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		width: 100px;
	}

	*,
	box-sizing: inherit;


	* {
		box-sizing: border-box;
	}

	.row {
		display: flex;
	}

	/* Create two equal columns that sits next to each other */

	.column {
		flex: 50%;
		margin: 20px;
		padding: 30px;
		height: 850px; 
		margin-bottom: 100px;
		box-shadow: 0 8px 6px #000,

	}

	/*test*/ 

	#main {
		width: 100%;
		height: 100%;

		display: flex;
		flex-wrap: wrap;
		padding: 20px 20px 20px 20px;
		margin: 10px 20px 20px 10px;

	}

	.main-wrapper {
		width: 800px;
		height: 800px;

	}
	/* color labels */

	.labels-and-palettes {
		display: flex;
		height: auto;
		justify-content: center;
	}

	.color-labels {
		padding-top: 0px;
		border-right: 1px solid #E0E0E0;
		width: 100px;
		height: 50px;
		margin: auto;

	}

	.vertical_line {
		height:40px; 
		width:1px;
		background:#000;
		margin-left: 10px;
		margin-right: 10px;

	}



	li, ul {
		list-style-type: none;
	}

	/* boxes */

	.box {
		display: inline-flex;
		flex-direction: column;
		align-items: auto;

		color: white;
		font-size: 100px;
		text-align: center;

		text-shadow: 4px 4px 0 rgba(0,0,0.1);
		padding: 5px;
		position: relative;

		width: 35px;
		height: 35px;
		border: 1px solid #EEE;
		cursor: pointer;

	}

	.box:hover {
		border-radius: 50%;
	}

	/* box titles */

	.pink {
		text-align: left;
	} 

	.red {
		text-align: left;
	}



	/* box color styles */

	/* red */

	.box1 {
		background: #ffebee;

	}
	.box2 {
		background: #ffcdd2;

	}
	.box3 {
		background: #ef9a9a;
	}

	.box4 {
		background: #e57373;
	}

	.box5 {
		background: #ef5350;
	}

	.box6 {
		background: #f44336;
	}

	.box7 {
		background: #e53935;
	}
	.box8 {
		background: #d32f2f;
	}
	.box9 {
		background: #c62828;
	}

	.box10 {
		background: #b71c1c;
	}

	.box11{
		background: #ff8a80;;
	}

	.box12 {
		background: #FF5252;

	}

	.box13 {
		background: #ff1744;
	}

	.box14 {
		background: #d50000;
	}


	/* pink */

	.box15 {
		background: #fce4ec;
	}

	.box16 {
		background: #f8bbd0;
	}
	.box17 {
		background: #f48fb1;
	}
	.box18 {
		background: #f06292;
	}

	.box19 {
		background: #ec407a;
	}
	.box20 {
		background: #e91363;
	}
	.box21 {
		background: #d81b60;
	}
	.box22 {
		background: #c2185b;
	}
	.box23 {
		background: #ad1457;
	}

	.box24 {
		background: #880e4f;
	}

	.box25 {
		background: #ff80ab;
	}

	.box26 {
		background: #ff4081;
	}

	.box27 {
		background: #f50057;

	}
	.box28 {
		background: #c51162;

	}

	/* purple*/

	.box29 {
		background: #F3E5F5;
	}
	.box30 {
		background: #E1BEE7;
	}
	.box31 {
		background: #CE93D8;
	}
	.box32 {
		background: #BA68C8;
	}
	.box33 {
		background: #AB47BC;
	}
	.box34 {
		background: #9C27B0;
	}
	.box35 {
		background: #8E24AA;
	}
	.box36 {
		background: #7B1FA2;
	}
	.box37 {
		background: #6A1B9A;
	}

	.box38 {
		background: #4A148C;
	}

	.box39 {
		background: #EA80FC;
	}
	.box40 {
		background: #E040FB;
	}
	.box41 {
		background: #D500F9;
	}
	.box42 {
		background: #AA00FF;
	}

	/* deep purple*/

	.box43 {
		background: #EDE7F6;
	}
	.box44 {
		background: #D1C4E9;
	}
	.box45 {
		background: #B39DDB;
	}
	.box46 {
		background: #9575CD;
	}
	.box47 {
		background: #7E57C2;
	}
	.box48 {
		background: #673AB7;
	}
	.box49 {
		background: #5E35B1;
	}
	.box50 {
		background: #512DA8;
	}
	.box51 {
		background: #4527A0;
	}

	.box52 {
		background: #311B92;
	}

	.box53 {
		background: #B388FF;
	}
	.box54 {
		background: #7C4DFF;
	}
	.box55 {
		background: #651FFF;
	}
	.box56 {
		background: #6200EA;
	}


	/* Indigo */ 

	.box57 {
		background: #E8EAF6;
	}
	.box58 {
		background: #C5CAE9;
	}
	.box59 {
		background: #9FA8DA;
	}

	.box60 {
		background: #7986CB;

	}
	.box61 {
		background: #5C6BC0;
	}
	.box62 {
		background: #3F51B5;
	}
	.box63 {
		background: #3949AB;
	}
	.box64 {
		background: #303F9F;
	}
	.box65 {
		background: #283593;
	}
	.box66 {
		background: #1A237E;
	}
	.box67 {
		background: #8C9EFF;
	}
	.box68 {
		background: #536DFE;
	}
	.box69 {
		background: #3D5AFE;
	}
	.box70 {
		background: #304FFE;
	}


	/* Blue */ 

	.box71 {
		background: #e3f2fd;
	}
	.box72 {
		background: #bbdefb;
	}
	.box73 {
		background: #90caf9;
	}

	.box74 {
		background: #64b5f6;

	}
	.box75 {
		background: #42a5f5;
	}
	.box76 {
		background: #2196f3;
	}
	.box77 {
		background: #1e88e5;
	}
	.box78 {
		background: #1976d2;
	}
	.box79 {
		background: #1565c0;
	}
	.box80 {
		background: #0d47a1;
	}
	.box81 {
		background: #82b1ff;
	}
	.box82 {
		background: #448aff;
	}
	.box83 {
		background: #2979ff;
	}
	.box84 {
		background: #2962ff;
	}
	

	/* Cyan */ 

	.box85 {
		background: #e0f7fa;
	}
	.box86 {
		background: #b2ebf2;
	}
	.box87 {
		background: #80deea;
	}

	.box88 {
		background: #4dd0e1;

	}
	.box89 {
		background: #26c6da;
	}
	.box90 {
		background: #00bcd4;
	}
	.box91 {
		background: #00acc1;
	}
	.box92 {
		background: #0097a7;
	}
	.box93 {
		background: #00838f;
	}
	.box94 {
		background: #006064;
	}
	.box95 {
		background: #84ffff;
	}
	.box96 {
		background: #18ffff;
	}
	.box97 {
		background: #00e5ff;
	}
	.box98 {
		background: #00b8d4;
	}

	/* Teal */ 

	.box100 {
		background: #e0f2f1;
	}
	.box101 {
		background: #b2dfdb;
	}
	.box102 {
		background: #80cbc4;
	}

	.box103 {
		background: #4db6ac;

	}
	.box104 {
		background: #26a69a;
	}
	.box105 {
		background: #009688;
	}
	.box106 {
		background: #00897b;
	}
	.box107{
		background: #00796b;
	}
	.box108 {
		background: #00695c;
	}
	.box109 {
		background: #004d40;
	}
	.box110 {
		background: #a7ffeb;
	}
	.box111 {
		background: #64ffda;
	}
	.box112 {
		background: #1de9b6;
	}
	.box113 {
		background: #00bfa5;
	}
	

	/* Green */ 

	.box114 {
		background: #e8f5e9;
	}
	.box115 {
		background: #c8e6c9;
	}
	.box116 {
		background: #a5d6a7;
	}

	.box117 {
		background: #81c784;

	}
	.box118 {
		background: #66bb6a;
	}
	.box119 {
		background: #4caf50;
	}
	.box120 {
		background: #43a047;
	}
	.box121{
		background: #388e3c;
	}
	.box122 {
		background: #2e7d32;
	}
	.box123 {
		background: #1b5e20;
	}
	.box124 {
		background: #b9f6ca;
	}
	.box125 {
		background: #69f0ae;
	}

	.box126 {
		background: #00e676;
	}
	.box127{
		background: #00c853;
	}
	
	/* Yellow */ 

	.box128{
		background: #fffde7;
	}
	.box129 {
		background: #fff9c4;
	}
	.box130 {
		background: #fff59d;
	}

	.box131 {
		background: #fff176;

	}
	.box132 {
		background: #ffee58;
	}
	.box133 {
		background: #ffeb3b;
	}
	.box134 {
		background: #fdd835;
	}
	.box135{
		background: #fbc02d;
	}
	.box136 {
		background: #f9a825;
	}
	.box137 {
		background: #f57f17;
	}
	.box138 {
		background: #ffff8d;
	}
	.box139 {
		background: #ffff00;
	}
	
	.box140 {
		background: #ffea00;
	}
	.box141{
		background: #ffd600;
	}
	
	/* Orange */ 

	.box142{
		background: #fff3e0;
	}
	.box143 {
		background: #ffe0b2;
	}
	.box144 {
		background: #ffcc80;
	}

	.box145 {
		background: #ffb74d;

	}
	.box146 {
		background: #ffa726;
	}
	.box147 {
		background: #ff9800;
	}
	.box148 {
		background: #fb8c00;
	}
	.box149 {
		background: #f57c00;
	}
	.box150{
		background: #ef6c00;
	}
	.box151 {
		background: #e65100;
	}
	.box152 {
		background: #ffd180;
	}
	.box153 {
		background: #ffab40;
	}
	.box154 {
		background: #ff9100;
	}
	.box155 {
		background: #ff6d00;
	}



	* {
		box-sizing: border-box;
	}

	.colorpicker {
		height: 100px;
		width: 100px;

	}

	/* shadow triangle */

	span {
		display: inline-block;   
		transform: scaleX(2.5);
		color: #c0c5ce;
		text-shadow: 
		0 2px 2px rgba(192,192,206,0.7), 
		0 10px 4px rgba(0,0,0,0.5);
		font-size: 32px;
	}
	span:hover {
		transition: all 0.2s ease;
		transform: scaleX(2.5) translateY(4px);
		text-shadow:     
		0 1px 1px rgba(0,0,0,0.5);
	}


	footer {
	/*	background-color: #f44336;
	*/	
/*	background: linear-gradient(to bottom, #FF5E3A, #FF2B67);
	box-shadow:inset 0 15px 5px -16px #111;
*/	padding: 30px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 12px;
	text-transform: none;
	align-items: 100%;


}

	footer a {
	font-size: 12px;
}

	.social-icons a {
	color: #ffebee;
	font-size: 20px;
	margin: 5px;
}


/* Responsiveness */
	img {
	max-width: 100%;
}


@media screen and (max-width: 400px) {
	.body {
		display: block;

	}

.section {
	width: 100%;
	}
}


@media screen and (max-width: 600px) {
	.body {
		display: block;

	}

.section {
	width: 50%;
	}
}


/*@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Monoton|Yellowtail');*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700,800,900&subset=latin-ext');

body {
  font-family:'Quicksand';
  margin:0;
}

.container {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100vw;
  max-width:100%;
  height:100vh;
  /*background:url('https://images.unsplash.com/photo-1511227499331-25c621db940e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e7e55bd948e728345b7ed558d550053&auto=format&fit=crop&w=1400&q=80');
  background-size:cover;
  background-position:50% 50%;*/
}

.gradient-purple-blue {
  background-image: linear-gradient(30deg, #8E78FF, #B9DEDB);
}

.under-container {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.title {
  font-size:50px;
  color:white;
}

.menu {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:space-around;
  position:fixed;
  transition:opacity 0.5s;
  z-index:1;
}

.menu li {
  padding:30px;
  list-style: none;
}

.menu li a {
  color:white;
  text-decoration:none;
  font-weight:900;
}


.line {
  display:flex;
  position:relative;
  z-index:3;
}

.square {
  font-size:100px;
  font-weight:900;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor:default;
  transition:all 0.3s;
  color:#fff;
}

.square:hover {
  color:#08FDD8;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}

.mouse {
  display:flex;
  width:30px;
  height:50px;
  border:2px solid #fff;
  border-radius:30px;
}

.molette {
  margin:12px auto auto auto;
  width:3px;
  height:3px;
  background-color:#fff;
  border: 1px solid #fff;
  border-radius: 90px;
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0%{opacity:0; margin:10px auto auto auto;}
  10%{opacity:1;}
  50%{margin:10px auto auto auto;}
  90%{opacity:1;}
  100%{opacity:0; margin:18px auto auto auto;}
}

.mousetext{
  color:#fff;
  font-weight: 500;
}

/* bubble inspired by Mattia Astorino https://codepen.io/equinusocio/pen/jezBdZ*/

.bubble {
  position:relative;
}

.bubble::before
{
  content: '';
  position:absolute;
  z-index:2;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40vh;
  height: 40vh;
  min-height: 200px;
  min-width: 200px;
  background: linear-gradient(
    270deg,
    #43e97b,
    #38f9d7,
    #e0c3fc,
    #8ec5fc,
    #4facfe,
    #00f2fe,
    #a8edea,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation: 
    transform 20s linear infinite alternate,
    movement 40s linear infinite alternate,
    shade 60s linear infinite alternate;
}

.bubble::after
{
  content: '';
  position:absolute;
  z-index:2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20vh;
  height: 10vh;
  min-height: 200px;
  min-width: 200px;
  background: linear-gradient(
    270deg,
    #00f2fe,
    #8ec5fc,
    #38f9d7,
    #4facfe,
    #a8edea,
    #43e97b,
    #e0c3fc,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation: 
    transform2 20s linear infinite alternate-reverse,
    movement 40s linear infinite alternate-reverse,
    shade 60s linear infinite alternate-reverse;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; } 
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; } 
}

@keyframes transform2 {
  0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
  20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
  40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
  60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
  80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
  100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}

@keyframes movement
{
  from { -webkit-transform: rotate(-1turn) translateY(-50px); transform: rotate(-1turn) translateY(-50px); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes shade
{
  0%, 100% { background-position: 0% 50%; }
       50% { background-position: 100% 50%; }
}


.profil-picture {
  display:flex;
  justify-content:center;
  align-items:center;
  width:150px;
  height:150px;
  border-radius:100%;
  background:linear-gradient(30deg, #232323, #B9BCC3);
  opacity:0;
}

.profilpicture-animation {
  animation:showprofil 0.5s forwards;
}

.profil-picture img{
  width:95%;
  height:95%;
  border-radius:100%;
}

@keyframes showprofil {
  0%{
    transform:translateY(-100%);
    opacity:0;
  }
  100%{
    transform:translateY(0%);
    opacity:1;
  }
}

